@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dosis:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Abel', sans-serif;
    border:0;
}

body {
    width: 100%;
    overflow-x: hidden;
}
/* Landing Page styles */

.showcase {
    position:relative;
    left:0;
    width: 100vw;
    height:100vh;
    padding:100px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background: transparent;
    color: #fff;
    z-index: 2;
}

.showcase header {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:20px 30px;
    z-index: 1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.showcase video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    opacity:0.8;
}

.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size:5em;
    font-family: 'Dosis', sans-serif;
}

.text h3 {
    font-size:2em;
    font-family: 'Dosis', sans-serif;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    background: darkcyan;
    mix-blend-mode: overlay;
}

.logo {
    font-size: 300%;
}

.nav-menu a {
    margin:40px;
    font-size:200%;
    color:#fff;
    text-decoration: none;
}

.nav-menu a:hover {
    color: yellow;
    text-shadow: 0px 0px 25px #fff;
}

.nav-menu a:focus-visible {
    color: yellow;
}
.nav-menu li {
    display:inline;
    padding-top: 20px;
}

#social li {
    margin:20px;
    text-align: center;
    bottom:0;
    left:0;
    list-style: none;

}

#social li a {
    display:inline-block;
    color:#fff;
    margin-right:20px;
    transform: scale(2.0);
    transition: 0.5s;
    /* text-shadow: 0, 0, 15px, #fff; */
}

#social li a:hover {
    transform: scale(2.0) translateY(-15px);
}

#social {
    position:absolute;
    bottom:20px;
    z-index: 80;
    display:flex;
    justify-content: center;
    align-items: center;
}

footer {
    position:absolute;
    bottom:0;
    left:0;
    padding-bottom: 20px;
    padding-left: 30px;
    width: 33.3%;
    margin-bottom: 2px;
}

.button-container {
    width:400px;
    position:absolute;
    bottom:0;
    right:0;
    padding-bottom: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    clear: both;

}
.trigger-switch {
    position: relative;
    color: #fff;
    font-size: 2rem;
    background-color: transparent;
    width: 100%;
    height:50px;
    display: inline-block;
    margin-right: 500px;
    text-decoration: none;
    text-align: center;
    
}   
.trigger-switch:hover {
    border:solid 2px;
    border-color: yellow;
    animation: none;
    color:yellow;
   
    
}
@keyframes glowing {
    0% {
      border-color: transparent;
      box-shadow: 0 0 0.1px #fff;
      
    }
    50% {
      border-color: transparent;
      box-shadow: 0 0 20px #fff;
    }
    100% {
      border-color: transparent;
      box-shadow: 0 0 0px #fff;
    }
}
.trigger-switch {
    animation: glowing 7s infinite;
}
.fa-solid .fa-chevron-down {
    animation: glowing 7s infinite;
    text-decoration: none;
}

#med-content {
    display: block;
    position: absolute;
    height: auto;
    width:100%;
    background-color: lightslategrey;
    margin:0;
    padding-top: 0;
    clear: both;
}

#benefits {
    position: relative;
    height: 180vh;
    width:100%;
    background-color: darkcyan;
    display: none;
    overflow: hidden;
}

#med-benefits {
    position:absolute;
    width:100%;
    height:25%;
    background: transparent;
    bottom:0;
    left:0;
    display: inline-block;
    top:50px;
}

#meditating {
    width: 50%;
    height: 30%;
    margin-top: 160px;
    margin-left: 580px;
    right: 0;
    display: inline-block;
}

#meditation-image {
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 10px;
    border-color: darkblue;
}

#med-benefits h2 {
    position: relative;
    font-size: 3em;
    margin-bottom: 50px;
    text-align: left;
    color:#fff;
    padding-left: 50px;
}

#med-benefits ul {
    position:relative;
    font-size: 1.5em;
    margin-bottom: 150px;
    text-align: left;
    color: #fff;
    padding-left: 60px;
    list-style: none;
}

#med-benefits li {
    margin-top: 15px;
}

#yoga-benefits {
    position:absolute;
    width:100%;
    height:25%;
    background: transparent;
    margin:0;
    padding:0;
    bottom:0;
    right:0;
    display: inline-block;
    top:750px;
}

#yoga-benefits h2 {
    position:relative;
    font-size: 3em;
    margin-bottom: 50px;
    text-align: right;
    color:#fff;
    padding-right: 50px;
}

#yoga-benefits ul {
    position:relative;
    font-size: 1.5em;
    margin-bottom: 0px;
    text-align: right;
    color: #fff;
    padding-right: 60px;
    list-style: none;
}

#yoga-benefits li {
    margin-top: 15px;
}

#yoga-stretch {
    width: 50%;
    height: 30%;
    margin-top: 250px;
    margin-left: 50px;
    right: 0;
    display: inline-block;
}

#yoga-image {
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 10px;
    border-color: darkblue;
}

/* Meditate Page styles */

.meditation-videos {
    position: relative;
    display: block;
    height: 225px;
}

.meditation-blurb {
    position: relative;
    display: flex;
    margin-left: 450px;
}

iframe {
    position: absolute;
    width: 30%;
    height: 95%;
    display: block;
    margin-top: 5px;
    margin-left: 75px;
}

#first-med-video {
    display: block;
}

#second-med-video {
    display: block;
}

#third-med-video {
    display: block;
}

.second-color {
    background-color: lightcyan;
}

.video-text {
    margin-top: 60px;
    margin-left: 75px;
    width: 500px;
    color: cyan;
    font-size: 20px;
}

.text-contrast-color {
    color: lightslategray;
}

/* flow page styles */

#yoga-videos {
    position: relative;
    display: block;
    height: 225px;
}

.yoga-blurb {
    position: relative;
    display: flex;
    margin-left: 450px;
}

#first-yoga-video {
    display: block;
}

#second-yoga-video {
    display: block;
}

#third-yoga-video {
    display: block;
}

.ms-text {
    display: none;
}

/* SignUp page styling */

#full_name {
    width: 200px;
    height: 40px;
    font-size: 2rem;
    opacity: 60.8%;
    color: darkcyan;
    margin-top: 20px;
}

#email_address {
    width: 200px;
    height: 40px;
    font-size: 2rem;
    opacity: 60.8%;
    color: darkcyan;
    margin-top: 20px;
}

#submit-button {
    color: #fff;
    font-size: 2rem;
    background-color: transparent;
    width: 50%;
    height: 50px;
    animation: glowing 7s infinite;
    display: block;
    margin-left: -100px;
}
